# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log


# Module 2 - Advanced RAG
debug_logs/
flashrank_cache/
*.faiss
*.pkl

# Mac OS
.DS_Store